/* .heading{
    background-color: orange;
}

.basecolumn{
    background-color: blueviolet;
}

.column{
    background-color: salmon;
} */

.margine{
    width: 50px;
    height: 1px;
    background-color: grey;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.orizzontaltitle{
    width: 800px;
    border: 1px solid black;
    margin-inline: auto;
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
}

.orizzontalcontent{
    width: 800px;
    margin-inline: auto;
    border: 1px solid black;
    padding: 1rem;
    position: relative;
}

.solution{
    font-size: 13px;
    margin-top: 1rem;
}

.contatta{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #0061FF;
    width: 200px;
    text-align: center;
    color: white;
    padding: 1rem;
    font-size: 13px;
}