.headcontainer{
    height: 1000px;
}

.contenitore{
    width: 1000px;
    /* background-color: blue; */
    height: 400px;
    display: flex;
}

.ciao{
    height: 400px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hello{
    height: 400px;
    width: 550px;
    background-color: salmon;
}
