/* reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

/* header */

header{
    background-color: #B4D0E7;
}

#navbar{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 90;
}

.navleft{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding-left: 1rem;
}

.navright{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5rem;
    padding-right: 3rem;
}

.nav{
    color: #787878;
    text-decoration: none;
}

.button-1{
    text-decoration: none;
    color: white;
    background-color: #0061FF;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

/* fine navbar */

/* jumbotron */

.jumbotron{
    max-width: 1000px;
    margin-inline: auto;
    padding-top: 5rem;
}

h2{
    font-size: 4rem;
    padding: 3rem 0;
}

.contenitore{
    max-width: 1000px;
    display: flex;
}

.headertext{
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.annulla{
    text-decoration: none;
    color: black;
}

.arrowdown{
    color: black;
    font-size: 40px;
}

.jumbo{
    aspect-ratio: 1.5;
    height: 450px;
    margin-bottom: -50px;
}

/* fine header */

/* main prima parte */

.heading{
    max-width: 800px;
    margin-inline: auto;
    margin-top: 7rem;
    margin-bottom: 3rem;
}

h3{
    font-size: 2rem;
    margin-bottom: 2rem;
}

input[type="radio"]{
    width: 1rem;
    height: 1rem;
}

.fatturazione{
    margin-right: 3rem;
}

/* main, colonne */

.basecolumn{
    max-width: 800px;
    margin-inline: auto;
    display: flex;
    gap: 1.5rem;
}

.column{
    width: calc(100%/3);
    border: 1px solid #787878;
}

.columnhead{
    border-bottom: 1px solid #787878;
    text-align: center;
    padding: 1rem;
}

.smallcontainer{
    width: 200px;
    margin-inline: auto;
}

h4{
    margin: 1rem 0 1.5rem 0;
    font-size: 20px;
}

.price{
    font-weight: bold;
    font-size: 12px;
}

.duration{
    font-size: 12px;
    color: #787878;
}

.column-list{
    display: flex;
    gap: .5rem;
}

.button-2{
    text-decoration: none;
    color: white;
    font-size: 12px;
    background-color: #0061FF;
    display: block;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
}

.margine{
    width: 50px;
    height: 1px;
    background-color: grey;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.list{
    font-size: 12px;
}

.smallcontainer ul{
    list-style: none;
    padding-top: 1rem;
    font-size: 14px;
    padding-bottom: 2rem;
}

.smallcontainer li{
    padding-top: 0.5rem;
}

.fa-check{
    color: blue;
}

/* fine colonne */

/* blocco orizzontale */
/* titolo */
.orizzontaltitle{
    width: 800px;
    border: 1px solid #787878;
    border-bottom: 0;
    margin-inline: auto;
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
}
/* corpo del blocco */

.orizzontalcontent{
    width: 800px;
    margin-inline: auto;
    border: 1px solid #787878;
    padding: 1rem;
    position: relative;
}

.solution{
    font-size: 13px;
    margin-top: 1rem;
}

.button-3{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #0061FF;
    width: 200px;
    text-align: center;
    color: white;
    padding: 1rem;
    font-size: 13px;
    text-decoration: none;
}

/* fine blocco orizzontale */

/* container con img e testo */

.container{
    max-width: 800px;
}

.uno{
    margin: 10rem 0;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin-inline: auto;

}

.partner{
    width: 450px;
}

.row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 1rem;
}

.trova{
    background-color: white;
    border: 1px solid black;
    padding: 0.7rem;
    text-decoration: none;
    color: black;
    text-align: center;
}

/* container con 6 img */

.title{
    max-width: 800px;
    margin-inline: auto;
    margin-bottom: 3rem;
}

.due{
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    margin-bottom: 10rem;
}

.card{
    flex: 1 0 calc(100% / 3 - 2rem);
}

.cardimg{
    width: 100%;
}

/* sezione titolo + link */

.client{
    width: 500px;
}

.scopri{
    color: #0061FF;
    font-size: 14px;
} 

/* immagini e cubi */
/* parte sx e dx*/

.section{
    width: 100%;
    display: flex;
    height: 600px;
}

.cage{
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
    height: 600px;
}

.square{
    flex: 0 0 calc(100% / 2);
    position: relative;
}

.green{
    background-color: #A2D39B;
}

.bordeaux{
    background-color: #61082B;
}

.cyan{
    background-color: #0093CE;
}

.lightred{
    background-color:#FF1C1C;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.designit{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    filter: invert(1);
}

/* parte centrale */

.center{
    background-color: #F5F5F5;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.central-box{
    padding: 3em;
}

.logo-central{
    width: 250px;
    margin-bottom: 4rem;
}

hr{
    max-width: 100px;
    margin-bottom: 4rem;
}

.lorem-central{
    padding-bottom: 4rem;
}

/* penultima section */

.take-dropbox{
    width: 100%;
    height: 300px;
    background-color: #B4D0E7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-2{
    width:800px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

h5{
    color: #600941;
    font-size: 35px;
    width: 50%;
}

.prova-gratuita{
    background-color: white;
    border: 1px solid black;
    padding: 0.7rem;
    text-decoration: none;
    color: black;
    text-align: center;
}

/* domande frequenti */

.box-3{
    width: 100%;
    background-color: white;
    margin-bottom: 10rem;
}

.small-box{
    width: 800px;
    margin-top: 10rem;
    margin-inline: auto;
}

.line-1{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 3rem;
}

.line-2{
    min-height: 80px;
    line-height: 80px;
    border-top: 1px solid black;
}

.underline-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 0.8em;
}

.line-3{
    min-height: 80px;
    line-height: 80px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.underline-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 0.8em;
}

.fa-circle-arrow-down{
    color: black;
    margin-right: 1rem;
}

.hidden-line{
    display: none;
}

/* footer */

footer{
    background-color: black;
    padding-top: 6rem;
}

.footer-box{
    max-width: 1000px;
    margin-inline: auto;
    display: flex;
    gap: 2rem;
    padding-bottom: 2rem;
}

.colonna-1{
    height: 100%;
    flex: 1 0 calc(100% / 5 - 8rem);
}

.footer-list{
    list-style: none;
}

.title-1{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 1rem;
}

.content-1{
    color: white;
    font-size: 13px;
    padding-bottom: 0.5rem;
}

.footer-box-2{
    max-width: 1000px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
    padding-top: 5rem;
}

.margine-footer{
    width: 100px;
    height: 1px;
    background-color: white;
}

.footer-link{
    color: white;
    text-decoration: none;
    font-size: 14px;
}  

/* effetti di hover */

/* tasti navbar */

.nav:hover{
    border-bottom: 2px solid #0061FF;
}

/* pulsanti */

.button-1:hover{
    background-color: #0061FF;
    opacity: 0.6;
}

.button-2:hover{
    background-color: #0061FF;
    opacity: 0.6;
}

.button-3:hover{
    background-color: #0061FF;
    opacity: 0.6;
}

.trova:hover{
    border: 2px solid grey;
}

.prova-gratuita:hover{
    border: 2px solid grey;
}

/* radio-button */

input{
    cursor: pointer;
}

/* square */

.green:hover{
    border: 10px solid #d0e9cc;
}

.bordeaux:hover{
    border: 10px solid brown;
}

.cyan:hover{
    border: 10px solid blue;
}

.lightred:hover{
    border: 10px solid salmon;
}

.red:hover{
    border: 10px solid violet;
}

.blue:hover{
    border: 10px solid cyan;
}

.yellow:hover{
    border: 10px solid gold;
}

/* testo nascosto */

.line-2:hover .hidden-line{
    display: block;
}

.line-3:hover .hidden-line{
    display: block;
}