/* reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

/* header */

header{
    background-color: #B4D0E7;
}

#navbar{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    right: 0;
    left: 0;
}

.navleft{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding-left: 1rem;
}

.navright{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5rem;
    padding-right: 3rem;
}

.nav{
    color: #787878;
    text-decoration: none;
}

.inizia{
    text-decoration: none;
    color: white;
    background-color: #0061FF;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

/* fine navbar */

.headcontainer{
    max-width: 1000px;
    margin-inline: auto;
    padding-top: 5rem;
}

h2{
    font-size: 4rem;
    padding: 3rem 0 3rem 0;
}

.contenitore{
    width: 1000px;
    height: 400px;
    display: flex;
}

.headertext{
    height: 400px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prova{
    background-color: #0061FF;
    width: 60%;
    text-align: center;
    color: white;
    padding: 0.5rem 0rem 0.5rem 0rem;
    text-decoration: none;
}

.annulla{
    text-decoration: none;
    color: black;
    width: 70%;
}

.arrowdown{
    color: black;
    font-size: 40px;
    width: 15%;
}

.jumbo{
    aspect-ratio: 1.5;
    height: 450px;
}

/* fine header */

/* main prima parte */

.heading{
    max-width: 800px;
    margin-inline: auto;
    margin-top: 7rem;
    margin-bottom: 3rem;
}

h3{
    font-size: 2rem;
    margin-bottom: 2rem;
}

/* main colonne */

.basecolumn{
    max-width: 800px;
    margin-inline: auto;
    display: flex;
    gap: 1.5rem;
}

.column{
    width: calc(100%/3);
    border: 1px solid black;
}

.columnhead{
    border: 1px solid black;
    text-align: center;
    padding: 1rem;
}

.smallcontainer{
    width: 200px;
    margin-inline: auto;
}

h4{
    margin: 1rem 0 1.5rem 0;
    font-size: 20px;
}

.price{
    font-weight: bold;
    font-size: 12px;
}

.duration{
    font-size: 12px;
    color: #787878;
}

ul{
    list-style: none;
    padding-top: 1rem;
    font-size: 14px;
}

li{
    padding-top: 0.5rem;
}

.gratis{
    text-decoration: none;
    color: white;
    background-color: #0061FF;
    font-size: 12px;
}

