/* reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

/* header */

header{
    background-color: #B4D0E7;
}

#navbar{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    right: 0;
    left: 0;
}

.navleft{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding-left: 1rem;
}

.navright{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5rem;
    padding-right: 3rem;
}

.nav{
    color: #787878;
    text-decoration: none;
}

.inizia{
    text-decoration: none;
    color: white;
    background-color: #0061FF;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.headcontainer{
    max-width: 1000px;
    margin-inline: auto;
    padding-top: 5rem;
}

h2{
    font-size: 4rem;
    text-align: center;
    padding: 3rem 0 3rem 0;
}


